<div class="container">
  <hr class="">
  <div class="">
    <div class="" *ngFor="let bidding of biddings">
      <a class="">
        <img class="img-thumbnail" src="{{'data:image/jpg;base64,' + bidding.photoBase64}}" style="height: 150px;"
        alt="">
        <br>
        <span>Title: </span>
        <span>{{bidding.auctionName}}</span><br>
        <span>Price: </span>
        <span>{{bidding.paidAmount}}</span><br>
        <span>End date:</span>
        <span>{{bidding.endDate | date:'EEEE h:mm a'}}</span><br>
        <span>Date bought:</span>
        <span>{{bidding.boughtDate | date:'EEEE h:mm a'}}</span>
      </a>
    </div>
  </div>
</div>